---
import Image from './Image.astro'

export interface Props {
  date: string | Date
}

const date = new Date(Astro.props.date)
const dateFormat = new Intl.DateTimeFormat('en-US', { dateStyle: 'medium' })
---

<div class="grid grid-cols-1 justify-items-center gap-12 md:grid-cols-2">
  <Image
    src="./src/assets/stimulus-response-album-cover.jpg"
    alt="Stimulus Response album art"
    sizes="(min-width: 1536px) 432px, (min-width: 1024px) 384px, (min-width: 768px) 328px, (min-width: 384px) 384px, 100vw"
    class="album-box-shadow aspect-square max-w-96 shrink grow-0 shadow-gray-950/50 md:justify-self-end"
    imgProps={{ loading: 'eager' }}
  />
  <div
    class="max-w-96 space-y-4 self-center text-center md:max-w-none md:justify-self-start md:text-left"
  >
    <h2 class="font-display text-4xl">Stimulus Response</h2>
    <p class="text-2xl">
      Out everywhere <time
        class="whitespace-nowrap"
        datetime={date.toISOString()}>{dateFormat.format(date)}</time
      >
    </p>
    <p>
      <a
        class="btn btn--blur"
        href="https://horseradishmusic.bandcamp.com/album/stimulus-response"
        >Order now</a
      >
    </p>
  </div>
</div>

<style>
  .album-box-shadow {
    box-shadow: 0 0 2rem 1rem theme('colors.gray.950/0.5');
  }
</style>
