---
import Image from './Image.astro'
import CountDown from './Countdown'

export interface Props {
  date: string | Date
}

const date = new Date(Astro.props.date)
const dateFormat = new Intl.DateTimeFormat('en-US', { dateStyle: 'medium' })
---

<div class="grid grid-cols-1 justify-items-center gap-12 md:grid-cols-2">
  <Image
    src="./src/assets/stimulus-response-album-cover.jpg"
    alt="Stimulus Response album art"
    sizes="100vw"
    class="aspect-square max-w-96 shrink grow-0 md:justify-self-end"
  />
  <div class="max-w-96 space-y-4 self-center md:max-w-none">
    <h2 class="font-display text-4xl">
      New Album: <span class="whitespace-nowrap">Stimulus Response</span>
    </h2>
    <p class="text-2xl">
      Out everywhere <time
        class="whitespace-nowrap"
        datetime={date.toISOString()}>{dateFormat.format(date)}</time
      >
    </p>
  </div>
  <div class="text-center font-display text-4xl md:col-span-2">
    <CountDown client:only date={date} />
  </div>
</div>
